name: Build & Release

on:
  push:
    branches: [ 'main', '*-dev' ]

jobs:
  build:
    if: |
      !contains(github.event.head_commit.message, '[ciskip]')
    uses: FTBTeam/mods-meta/.github/workflows/standard-release.yml@main
    with:
      curse-publish-task: ""
      maven-private: true
      maven-snapshots: true
    secrets:
      ftb-maven-token: ${{ secrets.FTB_MAVEN_TOKEN }}